@media (min-width: 320px) and (max-width:540px) {
    .header-section {
        width: 100%;
        height: auto;
    }

    .navbar {
        width: 80%;

        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: none;

    }

    .nav-btns {
        display: none;
    }

    .navbar img{
        width: 180px;
        height: 30px;

    }

    .nav-toggle {

        display: flex;

        color: white;
    }

    .hero {
        width: 100%;
        height: auto;


    }

    .hero-container {
        width: 80%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hero-left {
        width: 50%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left h1 {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .hero-left p {
        width: 350px;
        text-align: center;
        font-size: medium;
    }

    .hero-image img {
        width: 100%;
        height: 500px;
        height: auto;
    }

    .hero button {
        width: 350px;
    }

    /* project Management */

    .projectManagement {
        width: 100%;

        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0% auto;


    }

    .project-container {
        width: 80%;
        height: auto;

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .project-left {
        width: 50%;
        height: 350px;

        flex-direction: column;
        align-items: center;
        gap: 40px;


    }

    .project-left h1 {
        width: 350px;
        text-align: center;
        font-weight: bold;
        font-size: 35px;
    }

    .project-left p {
        width: 350px;
        text-align: center;
        font-size: 16px;

    }

    .project-left button {
        width: 350px;
    }

    .project-image img {
        width: 350px;

    }

    /* work Together */
    .workTogether {
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;

    }

    .work-container {
        width: 80%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .work-image img {
        width: 350px;
        height: 100%;

    }

    .work-left {
        width: 350px;
        height: 350px;
        text-align: center;

        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .work-left h1 {
        width: 350px;
        font-weight: bold;
        font-size: 40px;

    }

    .work-left p {
        width: 350px;
        text-align: center;
        font-size: 16px;

    }

    .work-left button {
        width: 350px;
    }


    /* Use as Extention */
    .UseExtention {
        width: 100%;
        height: auto;
        margin: auto;

        background-color: rgb(4, 47, 92);
        justify-content: center;
        align-items: center;


    }

    .extention-container {
        width: 80%;
        height: auto;
        margin: 0% auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .extention-left {
        width: 50%;
        height: 400px;

        gap: 30px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .extention-left h1 {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: 60px;
    }

    .extention-left p {
        width: 350px;

        text-align: center;

        font-size: 16px;

    }

    .extention-left button {
        width: 350px;
    }

    .extention-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .extention-image img {
        width: 400px;
        max-width: 350px;
        margin-right: 20px;
        height: 350px;
        text-align: center;

    }

    /* Customize Needs section */
    .customizeNeeds {
        width: 100%;
        height: auto;

        align-items: center;

    }

    .customize-container {
        width: 80%;
        height: auto;
        margin: 0% auto;


        gap: 40px;
        flex-direction: column-reverse;
        align-items: center;

    }

    .customize-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customize-image img {
        width: 300px;
        height: 400px;
    }


    .customize-left {
        width: 50%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .customize-left h1 {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }

    .customize-left p {
        width: 380px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;

    }

    .customize-left button {
        width: 350px;
    }

    /* Choose Plane */
    .choosePlane {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .plane-container {
        width: 80%;

        gap: 20px;
        margin: 0% auto;

    }



    .plane-heading h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px
    }

    .plane-heading p {
        width: 350px;
        text-align: center;

        font-size: 16px;

    }

    .planeCards {
        width: 100%;
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 20px;

    }

    /* Your Work */
    .yourWork {
        width: 100%;
        height: 400px;
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        background-color: #043873;
        justify-content: center;


    }

    .yourWork-container {
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        color: white;
    }

    .yourWork h1 {

        text-align: center;
        font-weight: bold;
        font-size: 40px;

    }

    .yourWork p {
        width: 350px;
        font-size: 16px;
        text-align: center;

    }

    .yourWork button {
        width: 350px;
    }


    /* Your Data  */
    .yourData {
        width: 100%;
        height: auto;


    }

    .yourData-container {
        width: 80%;
        height: auto;

        flex-direction: column;
        gap: 80px;
        align-items: center;

    }

    .data-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .yourData h1 {
        width: 350px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }

    .yourData p {
        width: 350px;
        font-size: 16px;
    }

    .yourData button {
        width: 350px;
    }

    .data-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .data-image img {
        width: 350px;
        height: 350px;
    }

    /* Our Exponsure */
    .ourSponsore {
        width: 100%;
        margin-top: 20px;
        height: auto;
        align-items: center;
        justify-content: center;


    }

    .ourSponsore-container {
        width: 80%;
        height: auto;

        gap: 20px;

    }

    .ourSponsore .company-logos {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

    }

    .logo-three {
        width: 150px;
    }

    .logo-four {
        width: 150px;
    }

    .ourSponsore h1 {
        font-weight: bold;
        text-align: center;
        font-size: 50px;
    }

    /* Favorite Apps */
    .favoriteApps {
        width: 100%;
        height: auto;

    }

    .app-container {
        width: 80%;
        height: auto;
        flex-direction: column-reverse;
        color: white;
        gap: 20px;
    }

    .app-image {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .app-image img {
        width: 350px;
        height: 380px;


    }

    .app-right {
        align-items: center;

    }

    .app-right h1 {
        text-align: center;

    }

    .app-right p {
        width: 350px;
        text-align: center;
    }

    .app-right button {
        width: 350px;
    }

    /* Trusted Users */
    .trustedUsers {
        width: 100%;
        height: auto;

        .users-container {
            width: 80%;
            height: auto;

            gap: 60px;
            align-items: center;
            text-align: center;
            justify-content: center;


        }

        .trustedUsers h1 {
            text-align: center;
            width: 400px;
            font-weight: bold;
            font-size: 40px;
        }

        .users-cards {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }
    }


    /* Footer */
    .footer {
        width: 100%;
        height: auto;
        background-color: #043873;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer-container {
        width: 80%;
        height: auto;

    }

    .footer-text-container {
        width: 100%;
        height: auto;
        margin-top: 20px;

        flex-direction: column;
        align-items: center;

    }

    .box-one {

        text-align: center;


    }

    .box-two {

        text-align: center;


    }

    .box-two a {
        color: white;
    }

    .box-three {
        text-align: center;
    }

    .box-four {
        text-align: center;
    }

    .box-five {
        text-align: center;
        align-items: center;

    }

    .footer-btn {
        text-align: center;
    }

    .footer .line {
        width: 100%;
        margin-top: 40px;
        border: 1px solid #2E4E73;
    }

    .footer-end {
        flex-direction: column;
        align-items: center;
    }

    .footer-end select {
        color: white;
        background-color: #043873;
        border: none;
    }

    .footer-end p>a {
        color: white;
    }
}


/* screen 2 */

@media (min-width: 540px) and (max-width:740px) {
    .header-section {
        width: 100%;
        height: auto;
    }

    .navbar {
        width: 80%;

        justify-content: space-around;
        align-items: center;
    }

    .nav-links {
        display: none;

    }

    .login-btn {
        width: 90px;
        height: 50px;
        padding: 2px 2px;


    }

    .whiteSpace-btn {
        width: 170px;
        height: 50px;
        font-weight: normal;
        padding: 2px 2px;
        font-size: 14px;
    }



    .nav-toggle {
        margin-left: 20px;
        display: flex;

        color: white;
    }

    .hero {
        width: 100%;
        height: auto;


    }

    .hero-container {
        width: 80%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hero-left {
        width: 50%;
        height: auto;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .hero-left h1 {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .hero-left p {
        width: 500px;
        text-align: center;
        font-size: medium;
        font-weight: normal;
        font-size: 16px;
    }

    .hero-image img {
        width: 100%;
        height: 500px;
        height: auto;
    }

    .hero button {
        width: 350px;
        font-size: 20px;
    }

    /* project Management */

    .projectManagement {
        width: 100%;

        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0% auto;


    }

    .project-container {
        width: 80%;
        height: auto;

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .project-left {
        width: 50%;
        height: 300px;

        flex-direction: column;
        align-items: center;
        gap: 40px;


    }

    .project-left h1 {

        text-align: center;
        font-weight: bold;
        font-size: 45px;
    }

    .project-left p {
        width: 500px;
        text-align: center;
        font-size: 16px;

    }

    .project-left button {
        width: 350px;
        font-size: 16px;
    }

    .project-image img {
        width: 450px;

    }

    /* work Together */
    .workTogether {
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;

    }

    .work-container {
        width: 80%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


    .work-image img {
        width: 450px;
        height: 100%;

    }

    .work-left {
        width: 350px;
        height: 300px;
        text-align: center;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .work-left h1 {
        width: 350px;
        font-weight: bold;
        font-size: 50px;

    }

    .work-left p {
        width: 500px;
        text-align: center;
        font-size: 16px;

    }

    .work-left button {
        width: 350px;
        font-size: 16px;
    }


    /* Use as Extention */
    .UseExtention {
        width: 100%;
        height: auto;
        margin: auto;

        background-color: rgb(4, 47, 92);
        justify-content: center;
        align-items: center;


    }

    .extention-container {
        width: 80%;
        height: auto;
        margin: 0% auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .extention-left {
        width: 50%;
        height: 400px;

        gap: 30px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .extention-left h1 {
        width: 500px;
        text-align: center;
        font-weight: bold;
        font-size: 60px;
    }

    .extention-left p {
        width: 500px;

        text-align: center;

        font-size: 18px;

    }

    .extention-left button {
        width: 350px;
    }

    .extention-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .extention-image img {
        width: 450px;
        max-width: 350px;
        margin-right: 20px;
        height: 350px;
        text-align: center;

    }

    /* Customize Needs section */
    .customizeNeeds {
        width: 100%;
        height: auto;

        align-items: center;

    }

    .customize-container {
        width: 80%;
        height: auto;
        margin: 0% auto;


        gap: 40px;
        flex-direction: column-reverse;
        align-items: center;

    }

    .customize-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customize-image img {
        width: 450px;
        height: 400px;
    }


    .customize-left {
        width: 50%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .customize-left h1 {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }

    .customize-left p {
        width: 500px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;

    }

    .customize-left button {
        width: 350px;
    }

    /* Choose Plane */
    .choosePlane {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .plane-container {
        width: 80%;

        gap: 20px;
        margin: 0% auto;

    }



    .plane-heading h1 {
        text-align: center;
        font-weight: bold;
        font-size: 50px
    }

    .plane-heading p {
        width: 520px;
        text-align: center;

        font-size: 16px;

    }

    .planeCards {
        width: 100%;
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 20px;

    }

    /* Your Work */
    .yourWork {
        width: 100%;
        height: 400px;
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        background-color: #043873;
        justify-content: center;


    }

    .yourWork-container {
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        color: white;
    }

    .yourWork h1 {

        text-align: center;
        font-weight: bold;
        font-size: 50px;

    }

    .yourWork p {
        width: 500px;
        font-size: 18px;
        text-align: center;

    }

    .yourWork button {
        width: 350px;
    }


    /* Your Data  */
    .yourData {
        width: 100%;
        height: auto;


    }

    .yourData-container {
        width: 80%;
        height: auto;

        flex-direction: column;
        gap: 80px;
        align-items: center;

    }

    .data-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .yourData h1 {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: 50px;
    }

    .yourData p {
        width: 500px;
        text-align: center;
        font-size: 18px;
    }

    .yourData button {
        width: 350px;
    }

    .data-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .data-image img {
        width: 450px;
        height: 350px;
    }

    /* Our Exponsure */
    .ourSponsore {
        width: 100%;
        margin-top: 20px;
        height: auto;
        align-items: center;
        background-color: rgb(205, 248, 255);
        justify-content: center;


    }
    

    .ourSponsore-container {
        width: 80%;
        height: auto;

        gap: 20px;

    }
    .ourSponsore h1{
        font-size: 50px;
    }

    .ourSponsore .company-logos {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

    }

    .logo-three {
        width: 150px;
    }

    .logo-four {
        width: 150px;
    }

    .ourSponsore h1 {
        font-weight: bold;
        text-align: center;
        font-size: 50px;
    }

    /* Favorite Apps */
    .favoriteApps {
        width: 100%;
        height: auto;

    }

    .app-container {
        width: 80%;
        height: auto;
        flex-direction: column-reverse;
        color: white;
        gap: 20px;
    }

    .app-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-image img {
        width: 450px;
        height: 380px;


    }

    .app-right {
        align-items: center;

    }

    .app-right h1 {
        font-size: 50px;
        width: 500px;
        text-align: center;

    }

    .app-right p {
        width: 500px;
        font-size: 18px;
        text-align: center;
    }

    .app-right button {
        width: 350px;
    }

    /* Trusted Users */
    .trustedUsers {
        width: 100%;
        height: auto;

        .users-container {
            width: 80%;
            height: auto;

            gap: 60px;
            align-items: center;
            text-align: center;
            justify-content: center;


        }

        .trustedUsers h1 {
            text-align: center;
            width: 400px;
            font-weight: bold;
            font-size: 50px;
        }

        .users-cards {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }
        .userCard1{
            width: 300px;
        }
        .userCard1 p{
            font-size: 18px;
        }
        .userCard2{
            width: 300px;
        }
        .userCard2 p{
            font-size: 18px;
        }
        .userCard3{
            width: 300px;
        }
        .userCard3 p{
            font-size: 18px;
        }
    }


    /* Footer */
    .footer {
        width: 100%;
        height: auto;
        background-color: #043873;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer-container {
        width: 80%;
        height: auto;

    }

    .footer-text-container {
        width: 100%;
        height: auto;
        margin-top: 20px;
       flex-wrap: wrap ;
       justify-content: center;
       gap: 10px;
        
        align-items: center;

    }

    .box-one {
  
        text-align: center;
    


    }

    .box-two {
    
   

        text-align: center;


    }

    .box-two a {
        color: white;
    }

    .box-three {
        text-align: center;
    }

    .box-four {
        text-align: center;
    }

    .box-five {
        text-align: center;
        align-items: center;

    }

    .footer-btn {
        text-align: center;
    }

    .footer .line {
        width: 100%;
        margin-top: 40px;
        border: 1px solid #2E4E73;
    }

    .footer-end {
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-end select {
        color: white;
        
        background-color: #043873;
        border: none;
    }

    .footer-end p>a {
        color: white;
    }
}