* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}


/* btn */
.primary-btn {
    width: 150px;
    height: 50px;
    background-color: rgb(64, 124, 197);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid white;

}

.primary-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: transfrom 0.3s ease;
    transform: scale(1.05);
}

.card-primary-btn {
    width: 130px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;

}

.card-primary-btn:hover {
    background-color: rgb(64, 124, 197);
    color: white;
    border: 1px solid black;
}

.card-secondary-btn {
    width: 130px;
    height: 40px;
    background-color: rgb(64, 124, 197);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;

}

.card-secondary-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* main container */
.main {
    width: 100%;
}

.header-section {
    width: 100%;
    height: 600px;

    background-color: rgb(4, 47, 92);
}

.navbar {
    width: 90%;
    height: 60px;
    margin: auto;

    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around ;

}
.navbar .logo{
    width: 60%;
}

.nav-right {
    width: 65%;
    display: flex;
    align-items: center;
    gap: 30px;

}

.nav-links {
    width: 40%;
    display: flex;
    align-items: center;
}

.nav-links li select {
    background-color: rgb(4, 47, 92);
    margin: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
}

.nav-btns {
    width: 50%;
    height: 60px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-toggle{
    display: none;
}

.login-btn {
    width: 120px;
    height: 60px;
    background-color: rgb(243, 221, 98);
    color: rgb(6, 17, 82);
    border-radius: 14px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid white;
}

.whiteSpace-btn {
    width: 200px;
    height: 60px;
    background-color: rgb(64, 124, 197);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
}

/* hero section */

.hero {
    width: 100%;
    height: 550px;
    margin: auto;
    height: 400px;
    margin-top: 80px;
    /* background-image: url(./assets/hero-background-frame-removebg-preview.png); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;


}

.hero-container {
    width: 80%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.hero-left {
    width: 50%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.hero-left h1 {
    width: 400px;
    font-weight: bold;
    font-size: 50px;
}

.hero-left p {
    width: 500px;
    font-weight: 400;
    font-size: 16px;
}
.hero img{
    animation: float 3s ease-in-out infinite;
}

/* .hero-image img {
    width: 50%;

} */

/* Project Mangement */
.projectManagement {
    width: 100%;

    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% auto;


}

.project-container {
    width: 80%;
    height: 350px;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;



}

.project-left {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.project-left h1 {
    width: 450px;
    font-weight: bold;
    font-size: 60px;
}

.project-left p {
    width: 500px;
    font-weight: 400;
    font-size: 16px;

}

.project-image img{
    width:550px;
    height: 350px;
    animation: float 3s ease-in-out infinite;
}

/* work Together */
.workTogether {
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.work-container {
    width: 80%;
    height: 350px;
    display: flex;

    align-items: center;
    gap: 80px;



}

.work-image img{
    width: 500px;
    height: 100%;
    animation: float 3s ease-in-out infinite;

}

.work-left {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.work-left h1 {
    width: 450px;
    font-weight: bold;
    font-size: 60px;

}

.work-left p {
    width: 500px;
    font-weight: 400;
    font-size: 16px;

}

/* Use as Extention */
.UseExtention {
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(4, 47, 92);
    display: flex;
    align-items: center;


}

.extention-container {
    width: 80%;
    height: 400px;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.extention-left {
    width: 50%;
    height: 400px;

    gap: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.extention-left h1 {
    width: 450px;
    font-weight: bold;
    font-size: 60px;
}

.extention-left p {
    width: 500px;
    font-weight: 400;
    font-size: 16px;

}
.extention-image img{
    animation: float 3s ease-in-out infinite;
}

.extention-image {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
}

/* Customize Needs section */
.customizeNeeds {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;

}

.customize-container {
    width: 80%;
    height: 400px;
    margin: 0% auto;

    display: flex;
    gap: 40px;

    align-items: center;

}


.customize-image img{
    width: 500px;
    height: 350px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px); /* Thoda upar */
    }
    100% {
      transform: translateY(0px); /* Wapas neeche */
    }
  }

.customize-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.customize-left h1 {
    width: 450px;
    font-weight: bold;
    font-size: 40px;
}

.customize-left p {
    width: 500px;
    font-weight: 400;
    font-size: 16px;

}

/* Choose Plane */
.choosePlane {
    width: 100%;


}

.plane-container {
    width: 90%;

    padding-top: 50px;
    margin: 0% auto;

}

.plane-heading {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.plane-heading h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px
}

.plane-heading p {
    width: 750px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;

}

.planeCards {
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

/* Card 1 */

.card1 {
    width: 240px;
    height: 400px;
    padding: 30px 15px;
    border: 1px solid black;
    border-radius: 10px;

}

.card-headings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-headings h2 {
    font-size: 24px;
    font-weight: bold;
}

.card1 p {
    cursor: pointer;
    font-size: 14px;
    margin: 20px;

}

.card1 p i {
    font-size: 10px;
}

/* card 2 */

.card2 {
    width: 250px;
    height: 450px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: rgb(4, 47, 92);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.card2 .card-headings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card2 p {
    cursor: pointer;
    font-size: 14px;
    margin: 20px;

}

.card2 p i {
    font-size: 12px;
}

/* card 3 */

.card3 {
    width: 250px;
    height: 400px;
    padding: 30px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.card3 .card-headings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card3 p {
    cursor: pointer;
    font-size: 14px;
    margin: 20px;

}

.card3 p i {
    font-size: 12px;
}

/* Your Work */
.yourWork {
    width: 100%;
    height: 400px;
    margin-top: 80px;
    background-color: #043873;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.yourWork-container {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.yourWork h1 {
    font-weight: bold;
    font-size: 40px;

}

.yourWork p {
    width: 900px;
    font-size: 16px;
    text-align: center;

}

/* Your Data  */
.yourData {
    width: 100%;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.yourData-container {
    width: 80%;
    height: 350px;

    display: flex;
    gap: 80px;
    align-items: center;

}

.data-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.yourData h1 {
    font-weight: bold;
    font-size: 40px;
}

.yourData p {
    font-size: 16px;
}
.data-image img{
    animation: float 3s ease-in-out infinite;
}

.data-image {
    width: 30%;
    height: 350px;

}

/* Our Exponsure */
.ourSponsore {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ourSponsore-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.ourSponsore .company-logos {
    display: flex;
    align-items: center;
    gap: 120px;

}

.ourSponsore h1 {
    font-weight: bold;
    font-size: 50px;
}


/* Favorite Apps */
.favoriteApps {
    width: 100%;
    height: 450px;
    background-color: #043873;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
}

.app-image {
    width: 50%;
    height: 400px;
    animation: float 3s ease-in-out infinite;


}

.app-right {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}

.app-right h1 {
    font-weight: bold;
    font-size: 40px;
    width: 400px;
}

/* Trusted Users */
.trustedUsers {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-container {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;


}

.trustedUsers h1 {
    font-weight: bold;
    font-size: 40px;
}

.users-cards {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.userCard1 {
    width: 230px;
    height: 250px;
    padding: 40px 20px;
 
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.userCard-first-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.userCard-first-image:hover{
    transform: scale(1.30);
}
.userCard1 p{
    font-size: 14px;
}
.userName h4{
    margin: 10px;
}

.userCard2 {
    width: 230px;
    height: 250px;
    padding: 40px 20px;
    background-color: #043873;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userCard3 {
    width: 230px;
    height: 250px;
    padding: 40px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.users-btn{
    width: 130px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.users-btn .btns{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #4F9CF9;
    background-color: #dae8f8;
    border-radius: 50%;
}
.users-btn i{
    color: #4F9CF9;
  font-size: 25px;
  font-weight: 5px;


}

/* Footer */
.footer{
    width: 100%;
    height: 400px;
    background-color: #043873;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-container{
    width: 80%;
    height: 330px;
    
}
.footer-text-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
}
.box-one{
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.box-one img{
    width: 180px;
}
.box-two{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.box-two a{
    color: white;
}
.box-three{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.box-three a{
    color: white;
}
.box-four{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.box-four a{
    color: white;
}
.box-five{
    width: 200px;
    height: 195px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.footer-btn{
    width: 120px;
    height: 40px;
    background-color: rgb(64, 124, 197);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid white;

}
.footer .line{
    width: 100%;
    margin-top: 40px;
    border: 1px solid #2E4E73;
}
.footer-end{
    margin-top: 30px;
    color: white;
    display: flex;
    gap: 35px;
}
.footer-end select{
    color: white;
    background-color: #043873;
    border: none;
}
.footer-end p>a{
    color: white;
}